.Paragraph {
    line-height: 1.5;
    color: #b9c0ca;
}

.Position {
    color: #6b7f9c;
}

.ExperienceHeader {
    color: #ffffff;
}

.Company {
    color: #d0d5db;
}

.Date {
    color: #485a75;
}
